@media (prefers-color-scheme: light) {
    :root {
        --background-color: #f9f9f9;
        --text-color: #141414;
        --light-text-color: #dfdfdf;
        --hr-color: #cc425e;
        --link-color: #cc425e;
        --active-link-color: #141414;
        --nav-item-link-color: #cc425e;
        --nav-item-active-color: #cc425e;
        --selection-highlight-color: #cc425e;
        --preformatted-background-color: #3c3c3c;
        --preformatted-text-color: #f9f9f9;
        --callout-background-color: #cc425e;
        --callout-text-color: #141414;
        --callout-link-color: #cc425e;
        --callout-highlight-color: #cc425e;
        --blockquote-background-color: #dfdfdf;
        --blockquote-text-color: #000000;
        --blockquote-link-color: #000000;
        --blockquote-highlight-color: #cc425e;
        --social-icon-color: #cc425e;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #202020;
        --text-color: #f9f9f9;
        --light-text-color: #dfdfdf;
        --hr-color: #cc425e;
        --link-color: #cc425e;
        --active-link-color: #f9f9f9;
        --nav-item-link-color: #cc425e;
        --nav-item-active-color: #cc425e;
        --selection-highlight-color: #cc425e;
        --preformatted-background-color: #3c3c3c;
        --preformatted-text-color: #f9f9f9;
        --callout-background-color: #cc425e;
        --callout-text-color: #f9f9f9;
        --callout-link-color: #e8eefd;
        --callout-highlight-color: #cc425e;
        --blockquote-background-color: #595959;
        --blockquote-text-color: #ffffff;
        --blockquote-link-color: #ffffff;
        --blockquote-highlight-color: #cc425e;
        --social-icon-color: #cc425e;
    }
}
