.site-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 740px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 30px;
    padding-left: 30px;
}


body {
    background: var(--background-color);
    color: var(--text-color);
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--hr-color) !important;
}

h1 {
    font-size: 2.625em;
    line-height: 1;
    letter-spacing: -1px;
}

main {
    display: block;
}

p {
    margin-bottom: 15px;
}

a {
    text-decoration: underline;
    color: var(--link-color);
}

a:active {
    color: var(--active-link-color);
}

.site-header {
    font-size: 26px;
    font-weight: 300;
    line-height: 54px;
    letter-spacing: -1px;
    width: 100%;
}

.site-header, .site-header:visited, .site-header:hover {
    color: var(--text-color);
    text-decoration: none;
}

.header-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.site-nav {
    overflow: auto;
    text-align: left;
    line-height: 54px;
    width: 100%;
}

.site-nav .nav-item {
    color: var(--nav-item-link-color);
    text-decoration: none;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.nav-item.first {
    margin-left: 0px;
}

.nav-item.last {
    margin-right: 0px;
}

.nav-item.active {
    border-bottom: 2px solid var(--nav-item-active-color);
}

@media screen and (min-width: 800px) {
    div.site-header {
        width: 300px;
        padding-right: 15px;
    }
    div.site-nav {
        width: 410px;
        padding-left: 15px;
    }
    nav.site-nav {
        text-align: right;
    }
}

a.nav-item:hover {
    text-decoration: none;
}

.content {
    padding-top: 30px;
    padding-bottom: 30px;
    clear: both;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.post-date {
    color: var(--light-text-color);
    font-size: 14px;
}

.http-error {
    text-align: center;
}

pre, code {
    font-family: 'SF Mono', 'Consolas', monospace;
    font-size: 14px;
}

pre {
    padding: 10px;
    background-color: var(--preformatted-background-color);
    color: var(--preformatted-text-color);
    overflow-x: auto;
    border: 4px solid var(--preformatted-background-color);
    border-radius: 5px;
}

pre:focus {
    border: 4px solid var(--selection-highlight-color);
    border-radius: 5px;
}

blockquote {
    color: var(--blockquote-text-color);
    background-color: var(--blockquote-background-color);
    border-left: 10px solid var(--blockquote-highlight-color);
    border-radius: 5px;
    font-size: 14px;
    margin-left: 40px;
    margin-right: 140px;
}

blockquote p {
    margin: 0px;
    padding: 10px;
}

blockquote footer {
    margin: 0px;
    padding: 10px;
}

blockquote a {
    color: var(--blockquote-link-color);
}

p.callout {
    color: var(--callout-text-color);
    background-color: var(--callout-background-color);
    border-left: 10px solid var(--callout-highlight-color);
    border-radius: 5px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
}

.callout a {
    color: var(--callout-link-color);
}

hr {
    border: 1px solid var(--hr-color);
    border-radius: 1px;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15px;
    color: var(--text-color);
    font-size: 14px;
}

.footer-container p {
    margin-top: 10px;
    margin-bottom: 10px
}

.h-card.bio {
    width: 100%;
}

.footer-right {
    width: 100%;
}

@media screen and (min-width: 800px) {
    .h-card.bio {
        width: 355px;
        padding-right: 15px;
        margin-bottom: 1em;
    }
    .footer-right {
        width: 355px;
        padding-left: 15px;
        margin-bottom: 1em;
    }
}

img.u-photo {
    vertical-align: bottom;
    height: 1.5em;
    border-radius: 25%;
}

.h-card.social {
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: center;
}

.social-icon {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    height: 24px;
    width: 24px;
}

.social-icon path {
    fill: var(--social-icon-color);
}

.inline-icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    position: relative;
    top: 0.125em;
}

.inline-icon path {
    fill: var(--social-icon-color) !important;
}

.card {
    background: var(--preformatted-background-color);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1px 10px;
    margin: 5px;
}


.responsive {
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  maz-height: 25vh;
  height: auto;
}

strong {
  color: var(--link-color) !important;
}

.footnotes {
  line-height: 1;
  font-size: 14px !important;
}
