{{ define "main" }}
{{ range .Paginator.Pages }}
<div class="card">
<p>
    <span class="post-date"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date | time.Format ":date_long" }}</time></span> :
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
</p>
</div>
{{ end }}
{{ end }}
