<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ hugo.Generator }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{- with .Site.Params.Colors -}}
    <link rel="stylesheet" href="{{ (printf "css/colors-%s.css" .) | absURL }}">
    {{- else -}}
    <link rel="stylesheet" href="{{ "css/colors-default.css" | absURL }}">
    {{ end }}
    <link rel="stylesheet" href="{{ "css/style-larus.css" | absURL }}">
    {{- with .Site.Params.CustomStylesheet -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
    {{ end }}
    <link rel="shortcut icon" type="image/png" href="/images/icon-192x192.png">
    <link rel="shortcut icon" sizes="192x192" href="/images/icon-192x192.png">
    <link rel="apple-touch-icon" href="/images/icon-192x192.png">
    <link rel="alternate" type="application/rss+xml" href="{{.Site.BaseURL }}/index.xml" title="{{ .Site.Title }}">
    <link href="https://infosec.exchange/@larusargentatus" rel="me">
</head>
